@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

.img-logo {
  width: 65px;
  height: 16px;
}

.slide-img {
  position: absolute;
  padding: 26px 0 0 24px;
  display: flex;
  flex-direction: column;
}

.button-link {
  border: none;
  background: none;
  padding:  0px 12px 0px 12px;
  margin:  0px;
}

.button-link:last-child {
  padding-right: 0px;
}

.button-link:hover {
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .35);
}

.title-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #333333;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top:  8px;

  letter-spacing: 0.04em;
  text-decoration: none;

  color: #333333;
}

.link:hover {
  color:  #a3a3a3;
}

.button-email:hover {
  background:  #F2F2F2;
  border:  1px solid #1d1d1d;
}

.container-input {
  position: relative;
  margin-top: 20px;
}

.close {
  position: absolute;
  top:  12px;
  right: 10px;
  background: none;
  border: none;
}

.name-product {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  
  color: #333333;
}

.article-product {
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #828282;
}

.feedback-product {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  padding-top:  18px;
}

.title-feedback {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.04em;

  color: #333333;
}

.link-feedback {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.04em;
  text-decoration: none;

  color: #333333;
}

.link-feedback:hover {
  color: #a3a3a3;
}

.img-link-feedback {
  margin-left: 8px;
}

.price-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 46px;
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #333333;
}

.old-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-left:  12px;

  letter-spacing: 0.04em;
  text-decoration-line: line-through;

  color: #828282;
}

.img-price {
  padding-left:  30px;
}

.discount-product {
  display: flex;
  flex-direction: row;
  padding-top:  12px;
}

.discount {
  padding: 4px 8px;
  border: 1px solid #333333;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #333333;
}

.discount:first-child {
  margin-right: 9px;
}

.size-container {
  display: flex;
  flex-direction: column;
}

.choose-size {
  width: 315px;
  height: 44px;
  margin-top:  34px;
  padding:  12px 16px ;

  border: 1px solid #333333;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75em) 1em;
  background-size: 16px auto;
  background-image:  url(../img/ArrowDown.png);
}

.choose-size:hover {
  border: 1px solid #a3a3a3;
  
}

.standart-link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  
  letter-spacing: 0.04em;
  text-decoration-line: underline;

  color: #333333;

  padding-top:  12px;
}

.standart-link:hover {
  color: #a3a3a3;
}

.img-link {
  margin-right: 7px;
}

.count {
  margin:  0;
  background: #F2F2F2;
  padding: 12px 20px;
}

.count-product {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.mathematical-action {
  border:  none;
  background: #F2F2F2;
  padding: 12px 20px;
}

.mathematical-action:hover {
  background: #e4e4e4;
}

.primary-button:hover {
  background: #1d1d1d;;
}

.favorite-button {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #333333;
  border: 1px solid #333333;
  
  padding: 12px 15px;
}

.favorite-button:hover {
  background: #1d1d1d;;
}

.button-img {
  width: 14px;
}

.link-container-border {
  padding-bottom: 29px;
  border-bottom: 0.5px solid #C4C4C4;
}

.link-container {
  padding-top: 12px;
}

.link-style {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.photo-tiles {
  display: flex;
  flex-direction: column;
}

.photo-line {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 600px) and (max-width: 1920px) {
  .container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 26px;
    padding-right: 26px;
  }

  .container-row {
    width: 1440px;
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 26px;
    padding-right: 26px;
  }

  .modal-window {
    position: fixed;
    top: 2%;
    width: 500px;
    padding: 2rem 1rem;
    background: #fff;
    z-index: 1000;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .container-button {
    display: flex;
    flex-direction: row;
  }

  .primary-button {
    padding: 12px 28px;
    margin: 0 4px 0 12px;
    gap: 10px;
  
    color: #FFFFFF;
    background: #333333;
    border: 1px solid #333333;
  }

  .button-email {
    position:  relative;
    width: 150px;
    height: 36px;
    left: 302px;
    top: 35px;
  
    background: #FFFFFF;
    border: 1px solid #333333;
  }

  .link-container-footer {
    display: flex;
    flex-direction: column;
    padding-right:  217px;
  }

  .nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display:  flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 26px 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .footer {
    display:  flex;
    flex-direction: row;
    padding:0 143px 70px;
  }

  .button-container {
    margin-left: auto;
    margin-right: 0px;
  }

  .container-product {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
  }

  .email-input {
    width: 452px;
    padding: 12px 18px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #C4C4C4;
  }

  .preview-img {
    max-width:  686px;
    max-height: 926px;
  }

  .mini-img {
    width: fit-content;
    padding-bottom: 7px ;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
  }

  .img-opacity {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
  }

  .img-opacity:hover {
    filter: opacity(100%);
    -webkit-filter: opacity(100%);
  }

  .imformation-product {
    width:  100%;
    padding: 22px 0  0 36px;
  }

  .buy-product {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
  }

  .container-photo {
    display: flex;
    flex-direction: row;
    padding-bottom: 142px;
  }

  .photo {
    padding: 8px;
  }

  .photo-big {
    padding: 8px 8px 8px 0 ;
  }

  .goods-rating {
    display: inline-block;
    font-size: 0;
    margin-left: 12px;
    margin-right: 4px;
  }
  .goods-rating span {
    padding: 0;
    font-size: 20px;
    line-height: 1;
    color: lightgrey;
  }
  .goods-rating > span:before {
    content: '★';
  }
  .goods-rating > span.active {
    color: black;
  }

  .button-visible {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 425px;
    padding: 0;
  }

  .container-product {
    display: flex;
    flex-direction: column;
  }

  .preview-img {
    max-width:  425px;
    max-height: 926px;
  }

  .nav {
    min-width: 100%;
  }
  
  .photo:first-child {
    max-width: 216px;
    padding: 4px 4px 4px 0;
  }

  .photo:last-child {
    max-width: 209px;
    padding: 4px 0 4px 4px;
  }

  .mini-img {
    width: fit-content;
    padding-bottom: 4px ;
    filter: opacity(50%);
    -webkit-filter: opacity(50%);
  }

  .container-row {
    width: 100%;
    display:  inline-flex;
    align-items: center;
    padding: 22px 20px 30px;
  }

  .button-container {
    margin-left: auto;
    margin-right:  0px;
  }

  .photo-big {
    max-width: 425px;
  }

  .link-container-footer {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 42px  46px 58px 20px;
  }

  .email-container {
    padding: 58px 20px 186px 20px;
  }

  .footer {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .imformation-product {
    width:  100%;
    padding: 24px 0  0 20px;
  }

  .container-button {
    display: flex;
    flex-direction: row;
    padding-top:  15px;
  }

  .primary-button {
    padding: 12px 28px;
    margin: 0 4px 0 0;
    gap: 10px;
  
    color: #FFFFFF;
    background: #333333;
    border: 1px solid #333333;
  }

  .email-input {
    width: 375px;
    padding: 12px 18px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #C4C4C4;
  }

  .button-email {
    position:  relative;
    width: 150px;
    height: 36px;
    left: 205px;
    top: 25px;
  
    background: #FFFFFF;
    border: 1px solid #333333;
  }

  .buy-product {
    padding-top: 45px;
  }

  .modal-window {
    position: fixed;
    top: 5%;
    width: 280px;
    padding: 2rem 1rem;
    background: #fff;
    z-index: 1000;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

}